.primary-buttons {
  background-color: #FF0000;
  color: white;
  font-weight: bold
}

.environment {
  background-color: green;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
